#div{
    width: 200px;
    height: 200px;
    background-color: red;
}
.divs{
    background-color: blue !important;
    width: 100px;
}
#divs{
    width: 200px;
    height: 200px;
    background-color: aqua;
}